<!-- Assignment 2 : Ta daaaa -->

<!-- 1. Add a input field which updates a property(''username') via two way binding -->
<label>userName</label>
<input
  type="text"
  class="form-control"
  (input)="onUpdateUsername($event)"
  [(ngModel)]="userName"/>

<!-- 2. output the username property via String interpolation in a paragraph below input -->
<p>the username is : {{userName}}</p>

<!--3. Add a button which may be clicked if the username is NOT an empty string -->
<button
  class="btn banner"
  [disabled]="isUserNameEmpty"
  (click)="onUpdateUsername($event)">Username</button>


<!-- correct/easier wayout -->
<label> username revisited</label>
<input
  type="text"
  class="form-control"
  [(ngModel)]="userName"/>
<p>the username is : {{userName}}</p>

<button
  class="btn banner"
  [disabled]="userName == ''"
  (click)="userName = ''">Username
</button>

